*~
_site/
Gemfile*
node_modules/
npm-debug.log
.DS_Store

.bower.json
.jekyll-metadata

*zip

.*.swp

bower_components/jquery/*.txt
bower_components/jquery/src/
!bower_components/twemoji/twemoji.min.js
bower_components/twemoji/
#!bower_components/twemoji/assets/

.gh-token
