[submodule "_projects/_repos/nz-util"]
	path = _projects/_repos/nz-util
	url = git@github.com:fibo/nz-util
[submodule "_projects/_repos/gh-clone"]
	path = _projects/_repos/gh-clone
	url = git@github.com:fibo/gh-clone
[submodule "_projects/_repos/dotsoftware"]
	path = _projects/_repos/dotsoftware
	url = git@github.com:fibo/.software
