[submodule "_projects/_repos/nz-util"]
	path = _projects/_repos/nz-util
	url = https://github.com/fibo/nz-util
[submodule "_projects/_repos/gh-clone"]
	path = _projects/_repos/gh-clone
	url = https://github.com/fibo/gh-clone
[submodule "_projects/_repos/dotsoftware"]
	path = _projects/_repos/dotsoftware
	url = https://github.com/fibo/.software
