*~
_site/
Gemfile*
node_modules/
npm-debug.log


.bower.json

*zip

bower_components/jquery/*.txt
bower_components/jquery/src/
!bower_components/twemoji/twemoji.min.js
bower_components/twemoji/
#!bower_components/twemoji/assets/
