domain: g14n.info
url: https://fibo.github.io
name: My Digital Copybook

encoding: utf-8

permalink: ./:year/:month/:title/

exclude:
  - _projects/_readmes
  - _projects/**/index.yaml
  - Gemfile
  - Gemfile.lock
  - npm-debug.log
  - node_modules/
  - README.md
  - package.json
  - src/

include:
  - _data/repos/.software.json

plugins:
  - jekyll-sitemap

markdown: kramdown

sass:
  style: compressed

nav:
  About me: /about-me
  Blog: /blog
#  Software: /software

collections:
  licenses:
    output: true
    permalink: ./:path.html
  projects:
    output: true
    permalink: ./:path.html
  templates:
    output: true
    permalink: ./:collection/:path.html

# Defaults

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: post
  -
    scope:
      path: ""
      type: "projects"
    values:
      layout: project
  -
    scope:
      path: ""
      type: "licenses"
    values:
      layout: license

# Custom vars

katex:
  basepath: https://cdnjs.cloudflare.com/ajax/libs/KaTeX
  version: 0.5.1

google-analytics:
  id: UA-12635045-12

google-site-verification: sL7WzWB8YUQPFoN0Rq_lGfM5JDdQ3r6PMj3_vhBHLwM

disqus:
  shortname: g14n

tags:
  - AWS
  - Git
  - Go
  - Javascript
  - Mac
  - Math
  - Node
  - Perl
  - React
  - Software
  - SQL
  - TypeScript
  - Unix
  - Vim
  - Web
  - Windows

