---
layout: homepage
title: My Digital Copybook
description: A random topic blog | My projects aggregator
---

{% include anathema.html %}

<header class="hello">
  <h1>{{ site.name }}</h1>
  <div class="hello__image">
    <img
      alt="Gianluca Casati"
      class="circle"
      src="https://secure.gravatar.com/avatar/e8b1967a7daac7e79352cd9447567e09?s=170"
    />
  </div>

  <p class="hello__message">
    My name is <em>Gianluca Casati</em>.<br>
    Mathematician working in IT since 2005.<br>
    ❤ coding and open source!<br>
    Playing 🎶 guitar and percussions.
  </p>
</header>

<ul class="contacts">
  <li>
    <a href="https://github.com/fibo"><img src="./svg/logos/github.svg"></a>
  </li>
  <li>
    <a href="https://it.linkedin.com/in/gianlucacasati"><img src="./svg/logos/linkedin.svg"></a>
  </li>
</ul>

<section class="related-posts one-column">
  <div class="related-posts__title">Latest blog posts</div>
  {% include posts_list.html limit="3" %}
</section>

