<!DOCTYPE html>
<html ng-app>
  <head>
    <link rel="stylesheet" type="text/css" href="dflow-view.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="/dflow-ng-controllers.js"></script>
    <script src="/dflow-svg-drag.js"></script>
  </head>
  <body>
    <div ng-controller="Graph">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
       <g class="vvvv-node"
          ng-repeat="node in nodes"
          id="vvvv-node-{{node.id}}"
          onmousedown="selectElement(evt)"
          transform="translate({{node.x}},{{node.y}})"
       >
         <rect class="vvvv-node-background" height="18" width="84" fill="#cdcdcd"></rect>
         <rect class="vvvv-node-pinbar" height="4" fill="#9a9a9a" width="84"></rect>
         <rect class="vvvv-node-pinbar" y="14" height="4" fill="#9a9a9a" width="84"></rect>
         <text class="vvvv-node-descriptive-name" shape-rendering="crispEdges" dy="30" font-size="10" font-family="Lucida Sans Unicode"></text>
	 <text class="vvvv-node-label" shape-rendering="crispEdges" dy="12" dx="4" font-family="Lucida Sans Unicode">{{node.label}}</text>
         <g class="vvvv-input-pin"
            ng-repeat="inputPin in node.inputPins"
            transform="translate({{inputPin.x}}, {{inputPin.y}})"
            transform="translate(0, 0)"
          >
           <rect width="4" height="4" fill="#666666"></rect>
          </g>
         <g class="vvvv-output-pin"
            ng-repeat="outputPin in node.outputPins"
            transform="translate({{outputPin.x}}, {{outputPin.y}})"
         >
           <rect width="4" height="4" fill="#666666"></rect>
         </g>
       </g>
      </svg>
    </div>
  </body>
</html>
