---
title: Software
layout: default
---

<blockquote> <p>I ❤ coding!</p> </blockquote>

<h2>Node</h2>

<div class="list-group">
  {% include software/node.html name="algebra" %}
  {% include software/node.html name="flow-view" %}
  {% include software/node.html name="iper" %}
  {% include software/node.html name="dflow" %}
  {% include software/node.html name="tris3d" %}
  {% include software/node.html name="strict-mode" %}
</div>

<h2>Perl</h2>

<div class="list-group">
  {% include software/perl.html name="Sweet::Home" %}
  {% include software/perl.html name="Task::BeLike::FIBO" %}
</div>

<h2>SQL</h2>

<div class="list-group">
  {% include software/item.html name="nz-util" url="http://g14n.info/nz-util"%}
</div>

<h2>Bash</h2>

<div class="list-group">
  {% include software/item.html name="dotsoftware" url="http://g14n.info/dotsoftware"%}
</a>

</div>

