---
title: Software
layout: page
bash:
  - bb-clone
  - dir
  - gh-clone
  - home
  - dotsoftware
  - yyyymmdd
docker:
  - fake-aws-redshift
golang:
  - m2c
  - s2
node:
  packages_with_social_stats:
    - algebra
    - dflow
    - flow-view
    - games-of-life
    - iper
  tiny_packages:
    - algebra-group
    - algebra-ring
    - cayley-dickson
    - dot-editorconfig
    - geohash-neighbours
    - i-am-not-a-robot
    - indices-permutations
    - inlined
    - laplace-determinant
    - mdconf-from
    - mobius-transformation
    - matrix-multiplication
    - multidim-array-index
    - npm-config
    - not-defined
    - npm-start-command
    - OLAP-cube
    - prime-number
    - react-clipboard-icon
    - read-file-utf8
    - static-props
    - strict-mode
    - SQL92-JSON
    - tensor-contraction
    - tensor-product
    - three-orbitcontrols
    - tris3d
    - tris3d-ai
    - tris3d-canvas
    - write-file-utf8
    - SVGx
    - x3dom-livereload
    - y-combinator
    - zeroconf-redux
perl:
  - Task-BeLike-FIBO-pm
  - Sweet-Home-pm
  - netvision
---

{% assign repo = site.data.github.repos %}

<div class="col-sm-4">

  <div class="panel panel-default">
    <div class="panel-heading">NodeJS packages</div>
    <div class="panel-body">
      <img src="/svg/logos/nodejs.svg" alt="NodeJS logo" class="center-block img-responsive"/>
    </div>

    <ul class="list-group">

      {% for pkg in page.node.packages_with_social_stats %}
      <li class="list-group-item">
        <h3><a href="{{ repo[pkg].homepage }}">{{ pkg }}</a></h3>

        <blockquote><p>{{ repo[pkg].description }}</p></blockquote>

        <p><a href="https://github.com/fibo/{{ pkg }}/watchers"><img src="/svg/github/watchers/{{ pkg }}.svg" alt="Whatchers"></a> <a href="https://github.com/fibo/{{ pkg }}/stargazers"><img src="/svg/github/stars/{{ pkg }}.svg" alt="Stargazers"></a> <a href="https://github.com/fibo/{{ pkg }}/network/members"><img src="/svg/github/forks/{{ pkg }}.svg" alt="Forks"></a></p>

      </li>
      {% endfor %}

    </ul>
  </div>
</div>

<div class="col-sm-4">

  <div class="panel panel-default">
    <div class="panel-heading">NodeJS <strong>micro</strong> packages</div>
    <div class="panel-body">
      <img src="/svg/logos/npm-2.svg" alt="npm logo" class="center-block img-responsive"/>
    </div>

    <ul class="list-group">
    {% for tiny_pkg in page.node.tiny_packages %}
      <li class="list-group-item">
        <a href="{{ repo[tiny_pkg].homepage }}">{{ tiny_pkg }}</a>: {{ repo[tiny_pkg].description }}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Docker</div>
    <div class="panel-body">
      <img src="/svg/logos/docker.svg" alt="Docker logo" class="center-block img-responsive"/>
    </div>

    <ul class="list-group">
      {% for docker_image in page.docker %}
      <li class="list-group-item">
        <a href="{{ repo[docker_image].homepage }}">{{ docker_image }}</a>: {{ repo[docker_image].description }}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Bash</div>
    <div class="panel-body">
      <img src="/svg/logos/bash.svg" alt="Bash logo" class="center-block img-responsive"/>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <img src="https://img.shields.io/badge/kiss-literate-orange.svg" alt="KLP">
        {{ repo['kiss-literate-programming'].description }}
      </li>

      {% for bash_project in page.bash %}
      <li class="list-group-item">
        <a href="{{ repo[bash_project].homepage }}">{{ bash_project }}</a>: {{ repo[bash_project].description }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Golang</div>
    <div class="panel-body">
      <img src="/svg/logos/gopher.svg" alt="Golang logo" class="center-block img-responsive"/>
    </div>

    <ul class="list-group">
      {% for golang_project in page.golang %}
      <li class="list-group-item">
        <a href="{{ repo[golang_project].homepage }}">{{ golang_project }}</a>: {{ repo[golang_project].description }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Perl</div>
    <div class="panel-body">
      <img src="/svg/logos/perl.svg" alt="Perl logo" class="center-block img-responsive"/>
    </div>

    <ul class="list-group">
      {% for perl_project in page.perl %}
      <li class="list-group-item">
        <a href="{{ repo[perl_project].homepage }}">{{ perl_project }}</a>: {{ repo[perl_project].description }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
