<svg class=anathema>
  <circle cx=0 cy=-50 r=0>
    <animate attributeType=XML attributeName=r fill=freeze from=0 to=170 dur=1s />
  </circle>

  <circle cx=0 cy=290 r=0>
    <animate attributeType=XML attributeName=r fill=freeze from=0 to=170 dur=1s />
  </circle>

  <circle cx=170 cy=120 r=0>
    <animate attributeType=XML attributeName=r fill=freeze from=0 to=70 dur=1s />
  </circle>

  <circle cx=81 cy=120 r=0>
    <animate attributeType=XML attributeName=r fill=freeze begin=1s from=0 to=18 dur=1s />
  </circle>
</svg>
