<!-- _includes/common/header.html start -->
{% assign package = site.data.package %}

<meta name="description" content="{{ page.description | strip_newlines }}">
<meta name="author" content="{{ package.author.name }}">

<title>{{ page.title }}</title>

{% if page.title == "Homepage" %}
  <meta name="google-site-verification" content="{{ site.google-site-verification }}" />
{% endif %}

{% if page.libs.twemoji %}
  <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
{% endif %}

{% if page.bower.d3 %}
  <script src="/bower_components/d3/d3.min.js"></script>
{% endif %}

{% if page.libs.katex %}
  <link rel="stylesheet" href="{{ site.katex.basepath }}/{{ site.katex.version }}/katex.min.css">
{% endif %}

<link rel="stylesheet" href="/css/style.css">

<!-- _includes/common/header.html end -->
