a {
  cursor: pointer;
  text-decoration: none;
  transition: color 400ms ease-in, outline-color 400ms ease-in;
}

a:link {
  color: cornflowerblue;
}

a:active,
a:hover,
a:focus {
  color: hotpink;
  outline-color: hotpink;
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 1px;
}

a:visited {
  color: cadetblue;
}
