a {
  cursor: pointer;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: $gray;
}

/* visited link */
a:visited {
  darken($gray, 20%)
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: underline;
}
