.badge {
  border-color: $shadow;
  border-radius: $border-radius;
  border-style: inset;
  border-width: medium;
  color: $light-gray;
  display: inline-block;
  font-weight: normal;
  margin: 1px;
  padding: 3px 7px;
  @include no-select;

  a:active,
  a:focus,
  a:link,
  a:hover
  a:visited {
    color: inherit;
    outline: 0;
    text-decoration: none;
  }
}
