body {
  background-color: $white;
  color: $black;
  font-family: $font-family;
  font-size: $font-size;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  // Credits for sticky footer:
  // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
