img {
  border-style: none;
  max-width: 100%;
}

img.circle {
  border-radius: 50%;
}

@media screen and (max-width: $mobile-break-point) {
  img.responsive {
    width: 100%;
    height: auto;
  }
}
