.danger {
  background-color: $danger-background-color;
  color: $danger-color;
}

.info {
  background-color: $info-background-color;
  color: $info-color;
}

.success {
  background-color: $success-background-color;
  color: $success-color;
}

.warning {
  background-color: $warning-background-color;
  color: $warning-color;
}
