/*
  Example usage:

  <section class="paper"> <!-- or some display block element -->
    <div class="left-top-container">
      <div class="left-top">
        <!-- put some image -->
      </div>
      <!-- other content here, will adapt -->
    </div>
  </section>
*/

div.left-top-container {
  display: inline-block;
}

div.left-top {
  float: left;
  overflow: hidden;
  margin-right: 1em;
}
