main {
  max-width: 720px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;

  /* Keep top the same as nav height, so when menu is open
   * the main tag do not move */
  position: absolute;
  top: 3em;
}

