main {
  max-width: 1007px;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Keep top the same as nav height, so when menu is open the main tag do
 * not move. The "shifted" class is added via JavaScript when the user
 * clicks on the hamburger icon.
 */
main.shifted {
  margin-top: 3em;
}
