
/* Remove margins and padding from the list */
nav ul {
  z-index: 1000;
  height: 3em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $transparent-black;
}

/* Float the list items side by side */
nav ul li:first-child {
  float: left;
  font-size: 1.17em;
}

nav ul li {
  float: right;
  font-size: 1em;
}

/* Style the links inside the list items */
nav ul li a {
  display: inline-block;
  color: $white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: $gray;
}

#hamburgericon { display: none; }

/* second level */

nav ul li ul {
  display: none;
}

nav ul li:hover ul {
  z-index: 1000;
  display: block;
  background-color: $transparent-black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

nav ul li:hover ul li {
  float: left;
  clear: left;
}

/* When the screen is less than $mobile-break-point pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.hamburgericon) */
@media screen and (max-width: $mobile-break-point) {
  nav ul li:not(:first-child) { display: none; }

  #hamburgericon {
    cursor: default;
    float: right;
    display: inline-block;
    position: absolute;
    right: 4px;
    width: 37px;
    height: 40px;
    top: 14px;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
       -moz-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
  }

/* The "responsive" class is added to the nav with JavaScript when the user clicks on the hamburger icon. This class makes the nav look good on small screens */
  nav ul.responsive {
    position: absolute;
    left: 0wh;
    top: 0vh;
    width: 100%;
    height: 100vh;
  }

  nav ul.responsive li {
    float: none;
    display: inline;
  }

  nav ul.responsive li:first-child {
    margin-top: 1em;
  }

  nav ul.responsive li a {
    display: block;
    font-size: 2em;
  }

  /* Hamburger icon animation */

  #hamburgericon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 50%;
    background: $gray;
    opacity: 1;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
       -moz-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
  }

  #hamburgericon span:nth-child(even) {
    left: 50%;
    border-radius: 0 $border-radius $border-radius 0;
  }

  #hamburgericon span:nth-child(odd) {
    left: 0px;
    border-radius: $border-radius 0 0 $border-radius;
  }

  #hamburgericon span:nth-child(1), #hamburgericon span:nth-child(2) {
    top: 0px;
  }

  #hamburgericon span:nth-child(3), #hamburgericon span:nth-child(4) {
    top: 9px;
  }

  #hamburgericon span:nth-child(5), #hamburgericon span:nth-child(6) {
    top: 18px;
  }

  #hamburgericon.open span:nth-child(1), #hamburgericon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  #hamburgericon.open span:nth-child(2), #hamburgericon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  #hamburgericon.open span:nth-child(1) {
    left: 5px;
    top: 4px;
  }

  #hamburgericon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 4px;
  }

  #hamburgericon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #hamburgericon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #hamburgericon.open span:nth-child(5) {
    left: 5px;
    top: 13px;
  }

  #hamburgericon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 13px;
  }
}
