p {
  margin: 1em 0;
  hyphens: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  + ul, + ol {
    margin-top: -.75em;
  }

  img, picture {
    float: right;
    margin-bottom: .5em;
    margin-left: .5em;

    img {
      float: none;
      margin: 0;
    }
  }
}
