p {
  margin-top: 0;
  margin-bottom: $margin-bottom;
  hyphens: auto;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p.description {
  font-weight: lighter;
  font-size: 1.5em;
}
