$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: "Lucida Console", Monaco, monospace;
$font-size: 17px;

$mobile-break-point: 680px;
$border-radius: 4px;

$margin-bottom: 1rem;
$margin-top: 1.5rem;

$list-padding-left: 2rem;

$nav-height: 2.5rem;

/* colors */

$white: #fdfdfd;
$light-gray: #bbb;
$gray: #777;
$shadow: rgba(0, 0, 0, 0.071);
$transparent-black: rgba(17, 17, 17, 0.9);
$semi-transparent: rgba(0, 0, 0, 0.05);
$black: #343434;

$link-color: darkcyan;
$link-highlight-color: tomato;
$link-outline-color: tomato;
$link-visited-color: chocolate;

$code-color: #ccc;
$code-background-color: #292924;

$danger-background-color: #f2dede;
$danger-color: #a94442;

$info-background-color: #d9edf7;
$info-color: #31708f;

$success-background-color: #dff0d8;
$success-color: #3c763d;

$warning-background-color: #fef9e6;
$warning-color: #8a6d3b;
