@font-face {
 font-family: "Recursive";
 src: url("/fonts/recursive.woff2") format("woff2-variations");
 font-weight: 300 1000;
 font-display: swap; /* Text using this font should be displayed immediately using a system font. Once the custom font is ready, the system font is swapped out. */
 unicode-range: U+000-5FF; /* Download only latin glyphs */
}

$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: "Lucida Console", Monaco, monospace;
$font-family-heading: "Recursive", $font-family;
$font-variation-settings: "CASL" 0, "slnt" -5;
$font-size: 17px;

$mobile-break-point: 680px;
$border-radius: 4px;

$margin-bottom: 1.5rem;
$margin-top: 1rem;

$list-line-height: 2rem;
$list-padding-left: 2rem;

$nav-height: 2.5rem;

/* colors */

$white: #fdfdfd;
$light-gray: #bbb;
$gray: #777;
$shadow: rgba(0, 0, 0, 0.071);
$transparent-black: rgba(17, 17, 17, 0.9);
$semi-transparent: rgba(0, 0, 0, 0.05);
$black: #343434;

$link-color: darkcyan;
$link-highlight-color: tomato;

$code-color: #ccc;
$code-background-color: #292924;

$danger-background-color: #f2dede;
$danger-color: #a94442;

$info-background-color: #e9f7ff;
$info-color: #31708f;

$success-background-color: #dff0d8;
$success-color: #3c763d;

$warning-background-color: #fef9e6;
$warning-color: #8a6d3b;
