$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: "Lucida Console", Monaco, monospace;
$font-size: 14px;

$mobile-break-point: 680px;
$border-radius: 4px;

$margin-bottom: 17px;

$list-padding-left: 2em;

/* colors */

$white: #bbb;
$gray: #777;
$light-gray: #eee;
$shadow: rgba(0, 0, 0, 0.071);
$transparent-black: rgba(20, 20, 20, 0.9);

$code-color: #fdce93;
$code-background-color: #3f3f3f;

$danger-background-color: #f2dede;
$danger-color: #a94442;

$info-background-color: #d9edf7;
$info-color: #31708f;

$success-background-color: #dff0d8;
$success-color: #3c763d;

$warning-background-color: #fef9e6;
$warning-color: #8a6d3b;
