$font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-mono: "Lucida Console", Monaco, monospace;
$font-family-heading: "Verdana", $font-family;
$font-size: 17px;
$font-size-1: 2.1em;
$font-size-2: 1.75em;
$font-size-3: 1.4em;
$font-size-4: 1.15em;
$font-size-5: 1em;

$mobile-break-point: 680px;

$border-radius: 7px;
$border-radius-2: 11px;

$margin-bottom: 1.7rem;
$margin-top: 1rem;

$page-padding-bottom: 5rem;

$list-line-height: 1.7rem;
$list-padding-left: 2rem;

$nav-height: 2.5rem;

/* colors */

$white: #fdfdfd;
$light-gray: #bbb;
$gray: #777;
$shadow: rgba(0, 0, 0, 0.17);
$subtle-shadow: rgba(0, 0, 0, 0.017);
$transparent-black: rgba(17, 17, 17, 0.9);
$semi-transparent: rgba(0, 0, 0, 0.05);
$black: #121212;

$link-color: darkcyan;
$link-highlight-color: tomato;

$code-color: #ccc;
$code-background-color: #292924;

$danger-background-color: #f2dede;
$danger-color: #a94442;

$info-background-color: #e9f7ff;
$info-color: #31708f;

$success-background-color: #dff0d8;
$success-color: #3c763d;

$warning-background-color: #fef9e6;
$warning-color: #8a6d3b;
