.anathema {
  z-index: -1;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4vh;
  left: 0;
  height: 711px;

  circle {
    stroke-width: 1px;
    stroke: $light-gray;
    fill: $subtle-shadow;
  }
}
