.badge {
  display: inline-block;
  font-weight: normal;
  padding: 1px 7px;
  user-select: none;

  a:active,
  a:focus,
  a:link,
  a:hover,
  a:visited {
    color: inherit;
    outline: 0;
    text-decoration: none;
  }
}
