blockquote {
  position: relative;
  color: $gray;
  font-size: 1.17rem;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: $margin-bottom;
  padding: 0 1em;
}

blockquote::before {
  position: absolute;
  content: open-quote;
  font-size: 1.71rem;
  left: 17px;
  top: -10px;
}
