ul.contacts {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  margin-left: 412px;

  @media screen and (max-width: #{$mobile-break-point}) {
    margin-left: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: center;
  }

  & li {
    & a {
      padding: 5px;
      display: block;
      outline-color: $black;
      transition: background-color 0.25s ease-in-out;

      &:focus, &:active {
        background-color: $white;
      }
    }
  }
}
