footer {
  background-image: linear-gradient(rgb(17, 17, 17), rgb(71, 71, 71));
  clear: left;
  color: $white;
  margin-top: 2em;
  padding: 1em;
  text-align: center;

  a:link,
  a:visited {
    color: $white;
  }
}
