footer {
  background-image: linear-gradient(71deg ,rgb(17, 17, 17) 0%, rgb(71, 71, 71) 100%);
  clear: left;
  color: $white;
  margin-top: 2em;
  padding: 1em;
  text-align: center;

  a:link,
  a:visited {
    color: $white;
  }
}

footer::selection {
  background: $white;
  color: $black;
}
