h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em 0 0.5em;
  font-weight: normal;
  font-family: $font-family-heading;
}

h1 {
  font-size: 2.10em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.40em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1em;
}

h6 {
  margin-top: 1em;
  font-size: 1em;
  color: color("stealthy");
}
