/*

Code from here:

  https://iamsteve.me/blog/entry/horizontal-scrolling-responsive-menu

See also:

  https://evilmartians.com/chronicles/scroll-to-the-future-modern-javascript-css-scrolling-implementations

Hiding scrollbar in Firefox is not that easy.
*/

.horyzontal-scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.horyzontal-scroll::-webkit-scrollbar {
  display: none;
}
