/* TODO customize it, stolen from
https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css#L441
*/

kbd {
  display: inline-block;
  padding: 7px 11px 10px 10px;
  line-height: 1;
  vertical-align: middle;
  color: #444d56;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 5px;
  box-shadow: inset -2px -3px 2px #959da5;
  @include no-select;
}
