/*
Original code from from https://github.com/sindresorhus/github-markdown-css/blob/gh-pages/github-markdown.css
*/

kbd {
  display: inline-block;
  padding: 2px 6px 4px 6px;
  line-height: 1;
  vertical-align: middle;
  color: #444d56;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 5px;
  box-shadow: inset -1px -1px 1px #959da5;
}
