p {
  margin-bottom: $margin-bottom;
  margin-top: $margin-top;
  hyphens: auto;

  a {
    display: inline-block;

    img {
      display: block;
    }
  }

  a:active,
  a:hover,
  a:link,
  a:focus,
  a:visited {
    text-decoration: underline;
  }
}

p.description {
  font-weight: 271;
  font-size: 1.5em;
}
