p {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: $margin-bottom;
  margin-top: $margin-top;
  line-height: 1.7em;
  hyphens: auto;

  a {
    display: inline-block;

    img {
      display: block;
    }
  }

  a:active,
  a:hover,
  a:link,
  a:focus,
  a:visited {
    text-decoration: underline;
  }
}

p.description {
  font-weight: 271;
  font-size: 1.4em;
}
