.page-not-found {
  font-family: 'W95FA', monospace;
  font-size: 1.7rem;
  min-height: 100vh;
  padding: 1em;
  background: #0827F5;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    text-transform: uppercase;
  }
}

