.page-not-found {
  $blue-screen-of-death: #0827F5;
  $blue-light: #0061ff;

  font-family: "W95FA", monospace;
  font-size: 1.7rem;
  min-height: 100vh;
  padding: 1em;
  background: $blue-screen-of-death;
  color: white;

  h1 {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 7.1rem;
  }

  a {
    display: inline-block;
    background: $blue-light;
    font-size: 2.5rem;
    text-transform: underline;
    padding: 0.25em;
    border-radius: 0.25em;
    outline: none;
  }

  a:link,
  a:visited {
    background: $blue-light;
    color: white;
  }

  a:active,
  a:hover,
  a:focus {
    color: $blue-screen-of-death;
    background: white;
  }
}
