.paper {
  box-shadow: 1px 1px 7px $shadow;
  display: block;
  margin-bottom: $margin-bottom;
  padding: 1rem;
  text-align: start;
  line-height: 1.71;
  border-radius: 11px;

  &:hover {
    box-shadow: 2px 2px 8px $shadow;
  }
}

.paper h1, .paper h2, .paper h3, .paper h4, .paper h5, .paper h6 {
  padding: 0;
}
