.paper {
  box-shadow: 1px 1px 7px $shadow;
  display: block;
  margin-bottom: $margin-bottom;
  padding: 1rem;
  text-align: start;
  line-height: 1.71;
  border-radius: 11px;

  &:hover {
    box-shadow: 2px 2px 8px $shadow;
  }
}
