.post {
  display: grid;
}

.post article header {
  border-bottom: 1px solid $light-gray;
  margin-bottom: $margin-bottom;
  padding: 1rem;
  text-align: start;
}

.post article .content {
  max-width: min(100vw, 80ch);
  margin: auto;

  padding-left: 5rem;
  padding-right: 5rem;

  @media screen and (max-width: $mobile-break-point) {
    margin-top: $nav-height + 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
