<!-- _includes/common/footer.html start -->
{% assign package = site.data.package %}

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <p>The contents of this website are ©&nbsp;III Millennium, <a href="{{ site.url }}" rel="author">{{ package.author.name }}</a> under the terms of the <a href="{{ site.url }}/mit-license">{{ package.license }}&nbsp;License</a>.</p>
      </div>
    </div>
    {% if page.isHomepage %}
      <div class="row">
        <a href="https://html5.validator.nu/?doc=http%3A%2F%2F{{ site.domain }}"><img src="/images/W3C_HTML5_certified.png"></a>
      </div>
    {% endif %}
  </div>
</footer>
<!-- _includes/common/footer.html end -->
