<!-- _includes/common/header.html start -->
{% assign package = site.data.package %}

<meta name="description" content="{{ page.description | strip_newlines }}">
<meta name="author" content="{{ package.author.name }}">

<title>{{ page.title }}</title>

{% if page.title == "Homepage" %}
  <meta name="google-site-verification" content="{{ google-site-verification }}" />
{% endif %}

{% if page.bower.d3 %}
  <script src="/js/d3.min.js"></script>
{% endif %}

<script type="text/javascript" src="/js/jquery.min.js"></script>

<!-- _includes/common/header.html end -->
