<!DOCTYPE html>
<html lang="en">
<head>
  {% include meta.html %}
  {% include favicon.html %}
  {% include style.html %}

  <meta name="google-site-verification" content="{{ site.google-site-verification }}" />
  {% include google_tag_manager-head.html %}
</head>
<body>
  {% include google_tag_manager-body.html %}

  {% include anathema.html %}

  <div class="swiper">
    {{ content }}
  </div>

  <nav>
    <button data-slideid="projects" aria-current="true">
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"/></svg>
      </i>
      <span>Projects</span>
    </button>

    <button data-slideid="blog" aria-current="false">
      <i>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor"><path d="M280-280h280v-80H280v80Zm0-160h400v-80H280v80Zm0-160h400v-80H280v80Zm-80 480q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0-560v560-560Z"/></svg>
      </i>
      <span>Blog</span>
    </button>
  </nav>

  <script>
    addEventListener('DOMContentLoaded', () => {
      const projectsButton = document.querySelector('button[data-slideid=projects]');
      const projectsSlide = document.querySelector('div[data-slideid=projects]');
      projectsButton.onclick = () => {
        projectsSlide.scrollIntoView({ behavior: 'smooth' });
      };

      const blogButton = document.querySelector('button[data-slideid=blog]');
      const blogSlide = document.querySelector('div[data-slideid=blog]');
      blogButton.onclick = () => {
        blogSlide.scrollIntoView({ behavior: 'smooth' });
      };
    });

    const observer = new IntersectionObserver(
      (entries) => {
        for (entry of entries) {
          if (entry.isIntersecting) {
            const slideid = entry.target.dataset.slideid;
            document.querySelector('button[aria-current=true]').ariaCurrent = 'false';
            document.querySelector(`button[data-slideid=${slideid}]`).ariaCurrent = 'true';
          }
        }
      },
      { threshold: 0.75 }
    );
    for (const slide of document.querySelectorAll('div[data-slideid]')) {
      observer.observe(slide);
    }
  </script>
</body>
</html>
