<!DOCTYPE html>
<html lang="en">
<head>
  {% include meta.html %}
  {% include favicon.html %}
  {% include style.html %}

  <meta name="google-site-verification" content="{{ site.google-site-verification }}" />
</head>
<body>

  {% include anathema.html %}

  <div class="swiper">
    {{ content }}
  </div>

  <nav>
    <button data-slideid="projects" aria-current="true">
      <i>icon</i>
      <span>Projects</span>
    </button>

    <button data-slideid="blog" aria-current="false">
      <i>icon</i>
      <span>Blog</span>
    </button>
  </nav>

  <script>
    addEventListener('DOMContentLoaded', () => {
      const projectsButton = document.querySelector('button[data-slideid=projects]');
      const projectsSlide = document.querySelector('div[data-slideid=projects]');
      projectsButton.onclick = () => {
        projectsSlide.scrollIntoView({ behavior: 'smooth' });
      };

      const blogButton = document.querySelector('button[data-slideid=blog]');
      const blogSlide = document.querySelector('div[data-slideid=blog]');
      blogButton.onclick = () => {
        blogSlide.scrollIntoView({ behavior: 'smooth' });
      };
    });

    const observer = new IntersectionObserver(
      (entries) => {
        for (entry of entries) {
          if (entry.isIntersecting) {
            const slideid = entry.target.dataset.slideid;
            document.querySelector('button[aria-current=true]').ariaCurrent = 'false';
            document.querySelector(`button[data-slideid=${slideid}]`).ariaCurrent = 'true';
          }
        }
      },
      { threshold: 0.75 }
    );
    for (const slide of document.querySelectorAll('div[data-slideid]')) {
      observer.observe(slide);
    }
  </script>
</body>
</html>
