<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% include favicon.html %}
  {% include style.html %}

  <link rel="preload" as="font" href="/fonts/w95fa.woff2" type="font/woff2" crossorigin="anonymous">

  <style>
    @font-face {
      font-family: 'W95FA';
      src: url('/fonts/w95fa.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }
  </style>

  {% include google_tag_manager-head.html %}
</head>
<body>
  {% include google_tag_manager-body.html %}

  <div class="page-not-found">
    {{ content }}
  </div>
</body>
</html>
