<!DOCTYPE html>
<html lang="en">
<head>
  {% include bootstrap/header.html %}
  {% include header.html %}
  {% include common/cookieconsent.html %}
  {% include common/style.html %}
</head>
<body>

  {% include navbar.html %}

  <div class="container">
    <div class="col-md-12">
      <div class="row">
        {{ content }}
      </div>
    </div>
  </div> <!-- container -->

  {% include footer.html %}
  {% include bootstrap/footer.html %}
  {% include common/analytics.html %}

  {% if page.title == "Blog" %}
    <script type="text/javascript" src="../js/blog.js"></script>
  {% endif %}
</body>
</html>
